#currentShowModule
{
	width:730px;
	height:295px;
	margin:0;
	z-index:2;
	background:orange;
}

#currentShowModule #logo
{
	width:210px;
	height:180px;
	margin:0;
	float:left;
	cursor:pointer;
	background-image:url(../img/_logo/logo_normal.png);	
	background-repeat:no-repeat;
	background-size:215px 215px;
	background:yellow;
}

#currentShowModule #logo:hover
{
	background-image:url(../img/_logo/logo_mouseover.png);
}

#currentShowModule #show
{
	width:350px;
	height:180px;
	margin:0 0 0 10px;
	float:left;
	background-repeat:no-repeat;
	background-size:450px 225px;
	background:yellow;
}

#currentShowModule #com01 {
	width:150px;
	height:180px;
	margin:0 0 0 10px;
	background:yellow;
	float:left;
}

#currentShowModule #pointer
{
	width:30px;
	height:20px;
	position:absolute;
	margin:190px 0 0 347px;
	z-index:3;
	background-image:url(../img/_channels/aktueller_stream.png);
	background-size:30px 20px;
}

#currentShowModule #channels
{
	width:730px;
	height:95px;
	margin:10px 0 0 0;
	float:left;
	background:yellow;
}

#currentShowModule #channels .channelSwitch
{
	width:113px;
	height:95px;
	float:left;
	cursor:pointer;
	background:blue;
}

#currentShowModule #channels #channelLeft
{
	background-image:url(../img/_icons/pfeil_links.png);
	background-repeat:no-repeat;
	background-size:95px 95px;
	background-position:9px 0px;
}

#currentShowModule #channels #channelSwitcher
{
	height:95px;
	width:504px;
	float:left;
	margin:0 0 0 0;
	overflow:hidden;
}

#currentShowModule #channels #channelSwitcher ul
{
	height:95px;
	margin:0;
	padding:0;
	list-style:none;
}

#currentShowModule #channels #channelSwitcher ul li
{
	width:168px;
	height:95px;
	float:left;
	background-repeat: no-repeat;
	background-position:0 4px;
}

/*#currentShowModule #channels #channelSwitcher ul li:nth-child(1){background-image:url(../img/_channels/_thumbnails/weihnachtslieder.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(2){background-image:url(../img/_channels/_thumbnails/livestream.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(3){background-image:url(../img/_channels/_thumbnails/teddy_cool.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(4){background-image:url(../img/_channels/_thumbnails/kinder_disco.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(5){background-image:url(../img/_channels/_thumbnails/gute_nacht.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(6){background-image:url(../img/_channels/_thumbnails/kinder_lieder.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(7){background-image:url(../img/_channels/_thumbnails/made_in_germany.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(8){background-image:url(../img/_channels/_thumbnails/softmix.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(9){background-image:url(../img/_channels/_thumbnails/weihnachtslieder.png);}
#currentShowModule #channels #channelSwitcher ul li:nth-child(10){background-image:url(../img/_channels/_thumbnails/livestream.png);}*/

#currentShowModule #channels #channelRight
{
	background-image:url(../img/_icons/pfeil_rechts.png);
	background-repeat:no-repeat;
	background-size:95px 95px;
	background-position:9px 0px;
}

#currentShowModule #leftChannel
{
	width:168px;
	height:95px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:233px 0 0 110px;
}

#currentShowModule #centerChannel
{
	width:168px;
	height:95px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:233px 0 0 278px;	
}

#currentShowModule #rightChannel
{
	width:168px;
	height:95px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:233px 0 0 446px;
}





