#currentShowModule
{
	width:730px;
	height:305px;
	float:left;
	margin:0 0 0 0;
	background:blue;
}

#currentShowModule #logo
{
	width:210px;
	height:180px;
	float:left;
	margin:0 0 0 0;
	cursor:pointer;
	background-image:url(../img/_bb_logo/logo_normal.png);
	background-repeat:no-repeat;
	background-size:239px 249px;
	background:red;
}

#currentShowModule #logo:hover
{
	background-image:url(../img/_bb_logo/logo_mouseover.png);
}

#currentShowModule #arrow.black{background-image:url(../img/_buttons/pfeil_klein_black.png);}
#currentShowModule #arrow.white{background-image:url(../img/_buttons/pfeil_klein_white.png);}

#currentShowModule #showOnAir
{
	width:84px;
	height:21px;
	position:absolute;
	margin:8px 0 0 228px;
	background-image:url(../img/_buttons/es_laeuft_eq.png);	
	background-repeat:no-repeat;
}

#currentShowModule #show
{
	width:350px;
	height:180px;
	margin:0 0 0 10px;
	background-repeat:no-repeat;
	float:left;	
	background:red;
}

#currentShowModule #com01 {
	width:150px;
	height:180px;
	margin:0 0 0 10px;
	float:left;
	background:red;
}

#currentShowModule #channels
{
	width:730px;
	height:105px;
	margin:10px 0 0 0;
	float:left;
	background-image:url(../img/_player_bg/karussell.png);
	background:red;
}

#currentShowModule #channels .channelSwitch
{
	width:71px;
	height:105px;
	float:left;	
	cursor:pointer;
	background:white;
}

#currentShowModule #channels #channelLeft
{
	background-image:url(../img/_buttons/pfeil_links_black.png);
	background-repeat:no-repeat;
	background-position:16px 32px;

}

#currentShowModule #channels #channelLeft:hover{background-image:url(../img/_buttons/pfeil_links_white.png);}

#currentShowModule #channels #channelSwitcher
{
	width:588px;
	height:105px;	
	float:left;
	overflow:hidden;
	background:purple;
}

#currentShowModule #channels #channelSwitcher ul
{
	height:105px;
	margin:0;
	padding:0;
	list-style:none;
}

#currentShowModule #channels #channelSwitcher ul li
{
	width:196px;
	height:105px;
	margin:0;
	float:left;
	background-size:196px 105px;
}

#currentShowModule #channels #channelRight
{
	background-image:url(../img/_buttons/pfeil_rechts_black.png);
	background-repeat:no-repeat;
	background-position:15px 32px;
}

#currentShowModule #channels #channelRight:hover{background-image:url(../img/_buttons/pfeil_rechts_white.png);}

#currentShowModule #leftChannel
{
	width:196px;
	height:105px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:276px 0 0 74px;
}

#currentShowModule #centerChannel
{
	width:196px;
	height:105px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:276px 0 0 270px;
}

#currentShowModule #rightChannel
{
	width:196px;
	height:105px;
	z-index:3;
	cursor:pointer;
	position:absolute;
	margin:276px 0 0 466px;
}



